In [1]:
import numpy

In [2]:
numpy.loadtxt('cleaned_data.csv', delimiter=',')

ValueError: could not convert string to float: b'DM'

In [3]:
import pandas

In [6]:
df = pandas.read_csv('cleaned_data.csv')

In [7]:
df

,#,Day,Month,Year,Plot,Species,Sex,Weight_Value,Weight_Unit,Calibration,Comments
0,1,16,7,2013,2,DM,F,##,##,##,NaN
1,2,16,7,2013,7,DM,M,33,g,##,NaN
2,3,16,7,2013,3,DM,M,##,##,##,NaN
3,4,16,7,2013,1,DM,M,##,##,##,NaN
4,5,18,7,2013,3,DM,M,40,g,##,NaN
5,6,18,7,2013,7,DM,M,48,g,##,NaN
6,7,18,7,2013,4,DM,F,29,g,##,NaN
7,8,18,7,2013,4,DM,F,46,g,##,NaN
8,9,18,7,2013,7,DM,M,36,g,##,NaN
9,10,18,7,2013,7,DM,F,35,g,##,NaN
10,11,18,7,2013,8,DM,F,22,g,##,NaN
11,12,18,7,2013,7,DM,F,42,g,##,NaN
12,13,18,7,2013,4,DM,F,41,g,##,NaN
13,14,18,7,2013,6,DM,F,37,g,##,NaN
14,15,19,8,2013,8,DO,F,52,##,##,NaN
15,16,17,10,2013,3,DO,F,33,##,##,NaN
16,17,17,10,2013,3,DO,F,50,##,##,NaN
17,18,17,10,2013,17,DO,F,48,##,##,NaN
18,19,17,10,2013,17,DO,F,31,##,##,NaN
19,20,18,10,2013,8,DO,F,41,##,##,NaN
20,21,12,11,2013,1,DO,F,44,##,##,NaN
21,22,12,11,2013,1,DO,M,48,##,##,NaN
22,23,14,11,2013,8,DO,F,39,##,##,NaN
23,24,10,12,2013,9,DO,F,40,##,##,NaN
24,25,10,12,2013,1,DO,M,45,##,##,NaN
25,26,11,12,2013,8,DO,F,41,##,##,NaN
26,27,12,11,2013,9,DS,F,117,##,##,NaN
27,28,12,11,2013,1,DS,F,121,##,##,NaN
28,29,12,11,2013,20,DS,M,115,##,##,NaN
29,30,12,11,2013,9,DS,F,120,##,##,NaN
...,...,...,...,...,...,...,...,...,...,...,...
58,59,8,1,2014,2,DM,M,45,##,##,NaN
59,60,8,1,2014,2,OT,##,##,##,##,NaN
60,61,8,1,2014,2,DS,M,157,##,N,NaN
61,62,8,1,2014,2,OX,##,##,##,##,NaN
62,63,18,2,2014,2,NaN,M,218,##,N,NaN
63,64,18,2,2014,2,PF,F,7,##,##,NaN
64,65,18,2,2014,2,DM,M,52,##,##,NaN
65,66,8,1,2014,3,PF,M,7,##,##,NaN
66,67,18,2,2014,3,OT,M,24,##,##,NaN
67,68,18,2,2014,3,OT,F,23,##,##,NaN
68,69,11,3,2014,3,NaN,M,232,##,##,NaN
69,70,11,3,2014,3,OT,F,22,##,##,NaN
70,71,11,3,2014,3,OT,M,26,##,##,NaN
71,72,11,3,2014,3,PF,M,8,##,##,NaN
72,73,8,4,2014,3,NaN,F,##,##,##,NaN
73,74,6,5,2014,3,##,##,##,##,##,NaN
74,75,18,5,2014,3,NaN,F,182,##,##,NaN
75,76,9,6,2014,3,OT,F,29,##,##,NaN
76,77,8,7,2014,3,NaN,F,115,##,##,NaN
77,78,8,7,2014,3,NaN,M,190,##,##,NaN
78,79,8,1,2014,4,DM,F,37,##,##,American or English Date Format
79,80,8,1,2014,4,DS,F,128,##,##,American or English Date Format
80,81,8,1,2014,4,DM,F,42,##,##,American or English Date Format
81,82,8,1,2014,4,DM,M,37,##,##,American or English Date Format
82,83,8,1,2014,4,DM,M,##,##,##,American or English Date Format
83,84,8,1,2014,4,DM,F,48,##,##,American or English Date Format
84,85,8,1,2014,4,DM,M,45,##,##,American or English Date Format
85,86,8,1,2014,4,DM,F,42,##,##,American or English Date Format
86,87,8,1,2014,4,DO,M,52,##,##,American or English Date Format
87,88,8,1,2014,4,OL,M,35,##,##,American or English Date Format

In [9]:
numpy.mean(df.Weight_Value[df.Sex == 'F'])

TypeError: Could not convert ##2946352242413752335048314144394041117121120118126113122107115361353914451441463537772322##1822911537128424842 to numeric